In [2]:
import pandas as pd
import numpy as np

# ===========================================
# ðŸš€ 1ï¸âƒ£ CARREGAR OS ARQUIVOS CSV
# ===========================================
print("\n===============================")
print("ðŸš€ 1ï¸âƒ£ Carregando os arquivos...")
print("===============================")

ride = pd.read_csv('ride_v2_limpo.csv', delimiter=';', low_memory=False)
product = pd.read_csv('product_limpo.csv', delimiter=';', low_memory=False)
estimative = pd.read_csv('rideestimative_v3_limpo.csv', delimiter=';', low_memory=False)
address = pd.read_csv('rideaddress_v1_limpo.csv', delimiter=';', low_memory=False)

print(f"âœ… ride.csv â†’ {ride.shape}")
print(f"âœ… product.csv â†’ {product.shape}")
print(f"âœ… estimative.csv â†’ {estimative.shape}")
print(f"âœ… address.csv â†’ {address.shape}")

# ===========================================
# ðŸŽ¯ 2ï¸âƒ£ PADRONIZAR NOMES DAS COLUNAS
# ===========================================
print("\n===============================")
print("ðŸŽ¯ 2ï¸âƒ£ Padronizando nomes das colunas...")
print("===============================")

ride.columns = ride.columns.str.upper().str.strip()
product.columns = product.columns.str.upper().str.strip()
estimative.columns = estimative.columns.str.upper().str.strip()
address.columns = address.columns.str.upper().str.strip()

# âœ… Padronizar valores de CITY
address['CITY'] = address['CITY'].str.upper().str.strip()

# âœ… Converter LAT e LNG para float (corrigir erro)
address['LAT'] = pd.to_numeric(address['LAT'], errors='coerce')
address['LNG'] = pd.to_numeric(address['LNG'], errors='coerce')

# âœ… Remover valores nulos apÃ³s conversÃ£o
address.dropna(subset=['LAT', 'LNG'], inplace=True)

print("âœ… Colunas padronizadas com sucesso!")

# ===========================================
# ðŸŒ 3ï¸âƒ£ FILTRAR POR LATITUDE E LONGITUDE (SÃƒO PAULO)
# ===========================================
print("\n===============================")
print("ðŸŒ 3ï¸âƒ£ Filtrando por coordenadas de SÃ£o Paulo...")
print("===============================")

# Definir os limites da bounding box para SÃ£o Paulo
lat_min, lat_max = -24.0087, -23.3567
lon_min, lon_max = -46.8256, -46.3656

# Filtrar apenas registros dentro da bounding box
address_sp = address[
    (address['LAT'] >= lat_min) & (address['LAT'] <= lat_max) &
    (address['LNG'] >= lon_min) & (address['LNG'] <= lon_max)
]

# âœ… Mostrar tamanho apÃ³s o filtro inicial
print(f"âœ… Tamanho de 'address' apÃ³s filtro de SÃ£o Paulo: {address_sp.shape}")

# ===========================================
# ðŸ”— 4ï¸âƒ£ FAZER O MERGE (ETAPA POR ETAPA)
# ===========================================
print("\n===============================")
print("ðŸ”— 4ï¸âƒ£ Fazendo o merge das tabelas...")
print("===============================")

# Primeiro merge: ride + estimative
df = ride.merge(estimative, on='RIDEID', how='inner')

# Segundo merge: incluir address (jÃ¡ filtrado para SÃ£o Paulo)
df = df.merge(address_sp, on='RIDEID', how='inner')

# Terceiro merge: incluir product
df = df.merge(product, on='PRODUCTID', how='left')

# âœ… Mostrar tamanho apÃ³s merge
print(f"âœ… Tamanho apÃ³s merge: {df.shape}")

# ===========================================
# ðŸ§¹ 5ï¸âƒ£ REMOVER COLUNAS DUPLICADAS
# ===========================================
print("\n===============================")
print("ðŸ§¹ 5ï¸âƒ£ Removendo colunas duplicadas...")
print("===============================")

def remove_duplicate_columns(df):
    to_drop = []
    for col1 in df.columns:
        for col2 in df.columns:
            if col1 != col2 and df[col1].equals(df[col2]):
                to_drop.append(col2)
    df.drop(columns=to_drop, inplace=True)

# âœ… Remover colunas duplicadas
remove_duplicate_columns(df)

# âœ… Remover registros duplicados
df.drop_duplicates(inplace=True)

print(f"âœ… Tamanho apÃ³s remoÃ§Ã£o de duplicatas: {df.shape}")

# ===========================================
# ðŸ” 6ï¸âƒ£ TRATAR VALORES NULOS
# ===========================================
print("\n===============================")
print("ðŸ” 6ï¸âƒ£ Tratando valores nulos...")
print("===============================")

if not df.empty:
    # âœ… Preencher valores nulos em colunas categÃ³ricas com 'Desconhecido'
    df['CITY'] = df['CITY'].fillna('DESCONHECIDO')
    df['NEIGHBORHOOD'] = df['NEIGHBORHOOD'].fillna('DESCONHECIDO')
    df['STATE'] = df['STATE'].fillna('DESCONHECIDO')

    # âœ… Preencher valores nulos em colunas numÃ©ricas com mÃ©dia
    df['FEE'] = df['FEE'].fillna(df['FEE'].mean())
    df['WAITINGTIME'] = df['WAITINGTIME'].fillna(df['WAITINGTIME'].mean())

print(f"âœ… Tamanho apÃ³s preenchimento de nulos: {df.shape}")

# ===========================================
# ðŸ’¾ 7ï¸âƒ£ SALVAR RESULTADO FINAL
# ===========================================
print("\n===============================")
print("ðŸ’¾ 7ï¸âƒ£ Salvando resultado final...")
print("===============================")

arquivo_saida = 'dados_sao_paulo.csv'
df.to_csv(arquivo_saida, index=False)

print(f"\nâœ… Arquivo salvo com sucesso: '{arquivo_saida}' ðŸŽ‰")

===============================
ðŸš€ 1ï¸âƒ£ Carregando os arquivos...
===============================
âœ… ride.csv â†’ (500000, 15)
âœ… product.csv â†’ (237, 4)
âœ… estimative.csv â†’ (2000000, 9)
âœ… address.csv â†’ (1000000, 11)

===============================
ðŸŽ¯ 2ï¸âƒ£ Padronizando nomes das colunas...
===============================
âœ… Colunas padronizadas com sucesso!

===============================
ðŸŒ 3ï¸âƒ£ Filtrando por coordenadas de SÃ£o Paulo...
===============================
âœ… Tamanho de 'address' apÃ³s filtro de SÃ£o Paulo: (296757, 11)

===============================
ðŸ”— 4ï¸âƒ£ Fazendo o merge das tabelas...
===============================
âœ… Tamanho apÃ³s merge: (1356454, 36)

===============================
ðŸ§¹ 5ï¸âƒ£ Removendo colunas duplicadas...
===============================
âœ… Tamanho apÃ³s remoÃ§Ã£o de duplicatas: (1356454, 36)

===============================
ðŸ” 6ï¸âƒ£ Tratando valores nulos...
===============================
âœ… Tamanho apÃ³s preenchimento de nulos: (1356454, 36)

===============================
ðŸ’¾ 7ï¸âƒ£ Salvando resultado final...
===============================

âœ… Arquivo salvo com sucesso: 'dados_sao_paulo.csv' ðŸŽ‰

In [3]:
# âœ… Mostrar preview dos dados apÃ³s o merge
print("\n===============================")
print("ðŸš€ **Preview dos dados apÃ³s merge:**")
print("===============================")

# Mostrar as primeiras 10 linhas (ajuste o valor conforme necessÃ¡rio)
print(df.head(10))

===============================
ðŸš€ **Preview dos dados apÃ³s merge:**
===============================
    RIDEID                                USERID                     SCHEDULE  \
0  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
1  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
2  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
3  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
4  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
5  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
6  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
7  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
8  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
9  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432

                        CREATE  RIDESTATUSID  COMPANYID  PROVIDERID_x  \
0  2022-06-14 20:56:40.7572989             3         42           NaN
1  2022-06-14 20:56:40.7572989             3         42           NaN
2  2022-06-14 20:56:40.7572989             3         42           NaN
3  2022-06-14 20:56:40.7572989             3         42           NaN
4  2022-06-14 20:56:40.7572989             3         42           NaN
5  2022-06-14 20:56:40.7572989             3         42           NaN
6  2022-06-14 20:56:40.7572989             3         42           NaN
7  2022-06-14 20:56:40.7572989             3         42           NaN
8  2022-06-14 20:56:40.7572989             3         42           NaN
9  2022-06-14 20:56:40.7572989             3         42           NaN

  RIDEPROVIDERID  PRICE_x                      UPDATED  ...  NUMBER  \
0            NaN      0.0  2022-06-14 20:56:55.4250968  ...     NaN
1            NaN      0.0  2022-06-14 20:56:55.4250968  ...     114
2            NaN      0.0  2022-06-14 20:56:55.4250968  ...     NaN
3            NaN      0.0  2022-06-14 20:56:55.4250968  ...     114
4            NaN      0.0  2022-06-14 20:56:55.4250968  ...     NaN
5            NaN      0.0  2022-06-14 20:56:55.4250968  ...     114
6            NaN      0.0  2022-06-14 20:56:55.4250968  ...     NaN
7            NaN      0.0  2022-06-14 20:56:55.4250968  ...     114
8            NaN      0.0  2022-06-14 20:56:55.4250968  ...     NaN
9            NaN      0.0  2022-06-14 20:56:55.4250968  ...     114

                                        NEIGHBORHOOD               CITY  \
0  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...  ALTO DE PINHEIROS
1                           R. PensilvÃ¢nia, 114, 114       DESCONHECIDO
2  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...  ALTO DE PINHEIROS
3                           R. PensilvÃ¢nia, 114, 114       DESCONHECIDO
4  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...  ALTO DE PINHEIROS
5                           R. PensilvÃ¢nia, 114, 114       DESCONHECIDO
6  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...  ALTO DE PINHEIROS
7                           R. PensilvÃ¢nia, 114, 114       DESCONHECIDO
8  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...  ALTO DE PINHEIROS
9                           R. PensilvÃ¢nia, 114, 114       DESCONHECIDO

          STATE        LAT        LNG RIDEADDRESSTYPEID  PROVIDERID_y  \
0     SÃ£o Paulo -23.548652 -46.715090                 1             2
1  Desconhecido -23.615867 -46.681102                 2             2
2     SÃ£o Paulo -23.548652 -46.715090                 1             2
3  Desconhecido -23.615867 -46.681102                 2             2
4     SÃ£o Paulo -23.548652 -46.715090                 1             2
5  Desconhecido -23.615867 -46.681102                 2             2
6     SÃ£o Paulo -23.548652 -46.715090                 1             2
7  Desconhecido -23.615867 -46.681102                 2             2
8     SÃ£o Paulo -23.548652 -46.715090                 1             2
9  Desconhecido -23.615867 -46.681102                 2             2

   CATEGORYID_y     DESCRIPTION
0            10      Flash Moto
1            10      Flash Moto
2            10      Flash Moto
3            10      Flash Moto
4             1  Comfort Planet
5             1  Comfort Planet
6             2           UberX
7             2           UberX
8             9         Comfort
9             9         Comfort

[10 rows x 36 columns]

In [4]:
# âœ… Verificar valores 'DESCONHECIDO' em cada coluna
desconhecido_count = (df == 'DESCONHECIDO').sum()

# âœ… Exibir o nÃºmero e a porcentagem de 'DESCONHECIDO' em cada coluna
desconhecido_percent = (desconhecido_count / len(df)) * 100

# âœ… Criar uma tabela formatada com os resultados
df_desconhecido = pd.DataFrame({
    'Coluna': desconhecido_count.index,
    'Total Desconhecido': desconhecido_count.values,
    '% Desconhecido': desconhecido_percent.values
})

# âœ… Exibir a tabela ordenada pela porcentagem de valores desconhecidos (decrescente)
df_desconhecido.sort_values(by='% Desconhecido', ascending=False)

                            Coluna  Total Desconhecido  % Desconhecido
28                            CITY              869381       64.092184
0                           RIDEID                   0        0.000000
26                          NUMBER                   0        0.000000
20                        SELECTED                   0        0.000000
21  RIDEREASONSELECTEDESTIMATIVEID                   0        0.000000
22                             FEE                   0        0.000000
23                   RIDEADDRESSID                   0        0.000000
24                         ADDRESS                   0        0.000000
25                          STREET                   0        0.000000
27                    NEIGHBORHOOD                   0        0.000000
1                           USERID                   0        0.000000
29                           STATE                   0        0.000000
30                             LAT                   0        0.000000
31                             LNG                   0        0.000000
32               RIDEADDRESSTYPEID                   0        0.000000
33                    PROVIDERID_y                   0        0.000000
34                    CATEGORYID_y                   0        0.000000
19                          FAREID                   0        0.000000
18                         PRICE_y                   0        0.000000
17                     WAITINGTIME                   0        0.000000
8                          PRICE_x                   0        0.000000
2                         SCHEDULE                   0        0.000000
3                           CREATE                   0        0.000000
4                     RIDESTATUSID                   0        0.000000
5                        COMPANYID                   0        0.000000
6                     PROVIDERID_x                   0        0.000000
7                   RIDEPROVIDERID                   0        0.000000
9                          UPDATED                   0        0.000000
16                       PRODUCTID                   0        0.000000
10                    CATEGORYID_x                   0        0.000000
11                      TOTALUSERS                   0        0.000000
12                             CAR                   0        0.000000
13            RIDEDRIVERLOCATIONID                   0        0.000000
14                   SCHEDULEDRIDE                   0        0.000000
15                RIDEESTIMATIVEID                   0        0.000000
35                     DESCRIPTION                   0        0.000000

In [5]:
# âœ… Filtrar registros com CITY = 'DESCONHECIDO'
df_desconhecido_city = df[df['CITY'] == 'DESCONHECIDO'][['CITY', 'LAT', 'LNG']]

# âœ… Mostrar os primeiros registros com 'DESCONHECIDO'
print("\nðŸš€ **Preview de registros com CITY = 'DESCONHECIDO':**")
print(df_desconhecido_city.head(10))

# âœ… Gerar valor MÃXIMO e MÃNIMO de LAT e LNG
lat_min, lat_max = df_desconhecido_city['LAT'].min(), df_desconhecido_city['LAT'].max()
lng_min, lng_max = df_desconhecido_city['LNG'].min(), df_desconhecido_city['LNG'].max()

print("\nðŸ“Œ **Valores de LAT e LNG para preenchimento:**")
print(f"âž¡ï¸ Latitude mÃ­nima: {lat_min}")
print(f"âž¡ï¸ Latitude mÃ¡xima: {lat_max}")
print(f"âž¡ï¸ Longitude mÃ­nima: {lng_min}")
print(f"âž¡ï¸ Longitude mÃ¡xima: {lng_max}")

ðŸš€ **Preview de registros com CITY = 'DESCONHECIDO':**
            CITY        LAT        LNG
1   DESCONHECIDO -23.615867 -46.681102
3   DESCONHECIDO -23.615867 -46.681102
5   DESCONHECIDO -23.615867 -46.681102
7   DESCONHECIDO -23.615867 -46.681102
9   DESCONHECIDO -23.615867 -46.681102
11  DESCONHECIDO -23.615867 -46.681102
13  DESCONHECIDO -23.615867 -46.681102
15  DESCONHECIDO -23.615867 -46.681102
17  DESCONHECIDO -23.615867 -46.681102
19  DESCONHECIDO -23.615867 -46.681102

ðŸ“Œ **Valores de LAT e LNG para preenchimento:**
âž¡ï¸ Latitude mÃ­nima: -24.0084044
âž¡ï¸ Latitude mÃ¡xima: -23.360978
âž¡ï¸ Longitude mÃ­nima: -46.8255893
âž¡ï¸ Longitude mÃ¡xima: -46.3656786

In [6]:
# âœ… Preencher CITY com valor padrÃ£o se LAT e LNG estiverem dentro dos limites
lat_media = (lat_min + lat_max) / 2
lng_media = (lng_min + lng_max) / 2

df.loc[
    (df['CITY'] == 'DESCONHECIDO') &
    (df['LAT'] >= lat_min) & (df['LAT'] <= lat_max) &
    (df['LNG'] >= lng_min) & (df['LNG'] <= lng_max),
    'CITY'
] = 'SÃƒO PAULO - ZONA INDEFINIDA'

# âœ… Mostrar resultado apÃ³s preenchimento
print("\nâœ… **Preenchimento de valores desconhecidos concluÃ­do!**")
print(df[df['CITY'] == 'SÃƒO PAULO - ZONA INDEFINIDA'][['CITY', 'LAT', 'LNG']].head(10))

âœ… **Preenchimento de valores desconhecidos concluÃ­do!**
                           CITY        LAT        LNG
1   SÃƒO PAULO - ZONA INDEFINIDA -23.615867 -46.681102
3   SÃƒO PAULO - ZONA INDEFINIDA -23.615867 -46.681102
5   SÃƒO PAULO - ZONA INDEFINIDA -23.615867 -46.681102
7   SÃƒO PAULO - ZONA INDEFINIDA -23.615867 -46.681102
9   SÃƒO PAULO - ZONA INDEFINIDA -23.615867 -46.681102
11  SÃƒO PAULO - ZONA INDEFINIDA -23.615867 -46.681102
13  SÃƒO PAULO - ZONA INDEFINIDA -23.615867 -46.681102
15  SÃƒO PAULO - ZONA INDEFINIDA -23.615867 -46.681102
17  SÃƒO PAULO - ZONA INDEFINIDA -23.615867 -46.681102
19  SÃƒO PAULO - ZONA INDEFINIDA -23.615867 -46.681102

In [7]:
# âœ… Verificar valores 'DESCONHECIDO' em cada coluna
desconhecido_count = (df == 'DESCONHECIDO').sum()

# âœ… Exibir o nÃºmero e a porcentagem de 'DESCONHECIDO' em cada coluna
desconhecido_percent = (desconhecido_count / len(df)) * 100

# âœ… Criar uma tabela formatada com os resultados
df_desconhecido = pd.DataFrame({
    'Coluna': desconhecido_count.index,
    'Total Desconhecido': desconhecido_count.values,
    '% Desconhecido': desconhecido_percent.values
})

# âœ… Exibir a tabela ordenada pela porcentagem de valores desconhecidos (decrescente)
df_desconhecido.sort_values(by='% Desconhecido', ascending=False)

                            Coluna  Total Desconhecido  % Desconhecido
0                           RIDEID                   0             0.0
1                           USERID                   0             0.0
20                        SELECTED                   0             0.0
21  RIDEREASONSELECTEDESTIMATIVEID                   0             0.0
22                             FEE                   0             0.0
23                   RIDEADDRESSID                   0             0.0
24                         ADDRESS                   0             0.0
25                          STREET                   0             0.0
26                          NUMBER                   0             0.0
27                    NEIGHBORHOOD                   0             0.0
28                            CITY                   0             0.0
29                           STATE                   0             0.0
30                             LAT                   0             0.0
31                             LNG                   0             0.0
32               RIDEADDRESSTYPEID                   0             0.0
33                    PROVIDERID_y                   0             0.0
34                    CATEGORYID_y                   0             0.0
19                          FAREID                   0             0.0
18                         PRICE_y                   0             0.0
17                     WAITINGTIME                   0             0.0
8                          PRICE_x                   0             0.0
2                         SCHEDULE                   0             0.0
3                           CREATE                   0             0.0
4                     RIDESTATUSID                   0             0.0
5                        COMPANYID                   0             0.0
6                     PROVIDERID_x                   0             0.0
7                   RIDEPROVIDERID                   0             0.0
9                          UPDATED                   0             0.0
16                       PRODUCTID                   0             0.0
10                    CATEGORYID_x                   0             0.0
11                      TOTALUSERS                   0             0.0
12                             CAR                   0             0.0
13            RIDEDRIVERLOCATIONID                   0             0.0
14                   SCHEDULEDRIDE                   0             0.0
15                RIDEESTIMATIVEID                   0             0.0
35                     DESCRIPTION                   0             0.0

In [8]:
# âœ… Verificar valores nulos em cada coluna
nulos_count = df.isnull().sum()

# âœ… Calcular a porcentagem de nulos em cada coluna
nulos_percent = (nulos_count / len(df)) * 100

# âœ… Criar DataFrame formatado com os resultados
df_nulos = pd.DataFrame({
    'Coluna': nulos_count.index,
    'Total Nulos': nulos_count.values,
    '% Nulos': nulos_percent.values
})

# âœ… Ordenar de forma decrescente para facilitar a anÃ¡lise
df_nulos = df_nulos.sort_values(by='% Nulos', ascending=False)

# âœ… Exibir o DataFrame formatado
df_nulos

                            Coluna  Total Nulos    % Nulos
13            RIDEDRIVERLOCATIONID      1343577  99.050687
12                             CAR      1343449  99.041250
7                   RIDEPROVIDERID      1338326  98.663574
10                    CATEGORYID_x      1334840  98.406581
6                     PROVIDERID_x      1334840  98.406581
26                          NUMBER       205216  15.128858
28                            CITY            0   0.000000
23                   RIDEADDRESSID            0   0.000000
24                         ADDRESS            0   0.000000
25                          STREET            0   0.000000
27                    NEIGHBORHOOD            0   0.000000
0                           RIDEID            0   0.000000
21  RIDEREASONSELECTEDESTIMATIVEID            0   0.000000
29                           STATE            0   0.000000
30                             LAT            0   0.000000
31                             LNG            0   0.000000
32               RIDEADDRESSTYPEID            0   0.000000
33                    PROVIDERID_y            0   0.000000
34                    CATEGORYID_y            0   0.000000
22                             FEE            0   0.000000
18                         PRICE_y            0   0.000000
20                        SELECTED            0   0.000000
19                          FAREID            0   0.000000
1                           USERID            0   0.000000
17                     WAITINGTIME            0   0.000000
16                       PRODUCTID            0   0.000000
15                RIDEESTIMATIVEID            0   0.000000
14                   SCHEDULEDRIDE            0   0.000000
11                      TOTALUSERS            0   0.000000
9                          UPDATED            0   0.000000
8                          PRICE_x            0   0.000000
5                        COMPANYID            0   0.000000
4                     RIDESTATUSID            0   0.000000
3                           CREATE            0   0.000000
2                         SCHEDULE            0   0.000000
35                     DESCRIPTION            0   0.000000

In [9]:
# âœ… Excluir colunas com mais de 98% de nulos
df.drop(columns=['RIDEDRIVERLOCATIONID', 'CAR', 'RIDEPROVIDERID'], inplace=True)

# âœ… Consolidar CATEGORYID_x e CATEGORYID_y
df['CATEGORYID'] = df['CATEGORYID_x'].combine_first(df['CATEGORYID_y'])
df.drop(columns=['CATEGORYID_x', 'CATEGORYID_y'], inplace=True)

# âœ… Consolidar PROVIDERID_x e PROVIDERID_y
df['PROVIDERID'] = df['PROVIDERID_x'].combine_first(df['PROVIDERID_y'])
df.drop(columns=['PROVIDERID_x', 'PROVIDERID_y'], inplace=True)

# âœ… Remover a coluna 'NUMBER' (nÃ£o Ã© relevante)
df.drop(columns=['NUMBER'], inplace=True)

# âœ… Mostrar preview apÃ³s o tratamento
print("\nðŸš€ **Preview apÃ³s tratamento de nulos:**")
print(df.head(10))

# âœ… Mostrar tamanho final apÃ³s tratamento
print(f"\nâœ… Tamanho final do dataframe: {df.shape}")

ðŸš€ **Preview apÃ³s tratamento de nulos:**
    RIDEID                                USERID                     SCHEDULE  \
0  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
1  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
2  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
3  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
4  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
5  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
6  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
7  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
8  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432
9  1425244  a02a6fdd-47f9-4fbd-9503-4b11466a9975  2022-06-14 20:56:40.6990432

                        CREATE  RIDESTATUSID  COMPANYID  PRICE_x  \
0  2022-06-14 20:56:40.7572989             3         42      0.0
1  2022-06-14 20:56:40.7572989             3         42      0.0
2  2022-06-14 20:56:40.7572989             3         42      0.0
3  2022-06-14 20:56:40.7572989             3         42      0.0
4  2022-06-14 20:56:40.7572989             3         42      0.0
5  2022-06-14 20:56:40.7572989             3         42      0.0
6  2022-06-14 20:56:40.7572989             3         42      0.0
7  2022-06-14 20:56:40.7572989             3         42      0.0
8  2022-06-14 20:56:40.7572989             3         42      0.0
9  2022-06-14 20:56:40.7572989             3         42      0.0

                       UPDATED  TOTALUSERS  SCHEDULEDRIDE  ...  \
0  2022-06-14 20:56:55.4250968           1              0  ...
1  2022-06-14 20:56:55.4250968           1              0  ...
2  2022-06-14 20:56:55.4250968           1              0  ...
3  2022-06-14 20:56:55.4250968           1              0  ...
4  2022-06-14 20:56:55.4250968           1              0  ...
5  2022-06-14 20:56:55.4250968           1              0  ...
6  2022-06-14 20:56:55.4250968           1              0  ...
7  2022-06-14 20:56:55.4250968           1              0  ...
8  2022-06-14 20:56:55.4250968           1              0  ...
9  2022-06-14 20:56:55.4250968           1              0  ...

                                              STREET  \
0  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...
1                                R. PensilvÃ¢nia, 114
2  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...
3                                R. PensilvÃ¢nia, 114
4  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...
5                                R. PensilvÃ¢nia, 114
6  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...
7                                R. PensilvÃ¢nia, 114
8  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...
9                                R. PensilvÃ¢nia, 114

                                        NEIGHBORHOOD  \
0  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...
1                           R. PensilvÃ¢nia, 114, 114
2  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...
3                           R. PensilvÃ¢nia, 114, 114
4  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...
5                           R. PensilvÃ¢nia, 114, 114
6  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...
7                           R. PensilvÃ¢nia, 114, 114
8  Av. Prof. Fonseca Rodrigues, 755 - Alto de Pin...
9                           R. PensilvÃ¢nia, 114, 114

                          CITY         STATE        LAT        LNG  \
0            ALTO DE PINHEIROS     SÃ£o Paulo -23.548652 -46.715090
1  SÃƒO PAULO - ZONA INDEFINIDA  Desconhecido -23.615867 -46.681102
2            ALTO DE PINHEIROS     SÃ£o Paulo -23.548652 -46.715090
3  SÃƒO PAULO - ZONA INDEFINIDA  Desconhecido -23.615867 -46.681102
4            ALTO DE PINHEIROS     SÃ£o Paulo -23.548652 -46.715090
5  SÃƒO PAULO - ZONA INDEFINIDA  Desconhecido -23.615867 -46.681102
6            ALTO DE PINHEIROS     SÃ£o Paulo -23.548652 -46.715090
7  SÃƒO PAULO - ZONA INDEFINIDA  Desconhecido -23.615867 -46.681102
8            ALTO DE PINHEIROS     SÃ£o Paulo -23.548652 -46.715090
9  SÃƒO PAULO - ZONA INDEFINIDA  Desconhecido -23.615867 -46.681102

  RIDEADDRESSTYPEID     DESCRIPTION  CATEGORYID PROVIDERID
0                 1      Flash Moto        10.0        2.0
1                 2      Flash Moto        10.0        2.0
2                 1      Flash Moto        10.0        2.0
3                 2      Flash Moto        10.0        2.0
4                 1  Comfort Planet         1.0        2.0
5                 2  Comfort Planet         1.0        2.0
6                 1           UberX         2.0        2.0
7                 2           UberX         2.0        2.0
8                 1         Comfort         9.0        2.0
9                 2         Comfort         9.0        2.0

[10 rows x 30 columns]

âœ… Tamanho final do dataframe: (1356454, 30)

In [12]:
arquivo_saida = 'dados_sao_paulo.csv'
df.to_csv(arquivo_saida, index=False)
print(f"\nâœ… Arquivo CSV salvo com sucesso: '{arquivo_saida}' ðŸŽ‰")

âœ… Arquivo CSV salvo com sucesso: 'dados_sao_paulo.csv' ðŸŽ‰